{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    <h3>Bienvenue sur l'interface administrateur</h3>
{% endblock main %}